<%- include('partials/_head') %>

<div class="card col-md-4 mx-auto mt-5 pt-2">
    <h2 class="card-header">
      Gestion
    </h2>
  
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <a href="/admin/articles/liste">Articles</a>
      </li>
      <li class="list-group-item">
        <a href="/admin/parametres/liste-param">Paramètres</a>
      </li>
      <li class="list-group-item">
        <a href="/get-users">Utilisateurs</a>
      </li>
    </ul>
  </div>