
  <%- include('../partials/_head'); %>


  <h2 class="text-center">Redact your recipe</h2>

        <form action="/recipes" method="POST" id="create_recipe" enctype="multipart/form-data">
        <div class="new_recipe">
            <div class="form-group">
                <label for="title" class="recipe-text">Title</label>
                <input type="text" name="title" value="" placeholder="Best recipe of...">
            </div>
        
            <div class="form-group">
            <label for="categories" class="recipe-text">Categories</label>
            <input type="text" name="categories" value="" placeholder="">
            </div>
            <div class="form-group">
                <label for="image" class="label-file">Choose your picture:</label>
                <input type="file" name="image" class="input-file">
                
            </div>
            <div class="form-group">
                <label for="description" class="recipe-text">Preparing step</label>
                <textarea type="text" name="description" value="" placeholder="">
                </textarea>
            </div>
            <div class="form-group">
                    <label for="author" class="recipe-text">Author</label>
                    <input type="text" name="author" value="" placeholder="">
            </div>
            
    
            <div class="form-group">
                <button type="submit" class="btn update">Save</button>
            </div>
    
        </div>

    </form>  
    

    
         


